.footer {
    background-color: #24262b;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .footer-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      margin: auto;
      padding: 2rem;
  
      .footer-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
  
        .item-title {
          color: white;
          font-size: 30px;
          padding-bottom: 10px;
          border-bottom: solid 3px #00c3ff;
        }
  
        a {
          text-decoration: none;
          font-size: 22px;
          color: #ccc;
          transition: 0.2s ease-in;
        }
        a:hover {
          color: #00c3ff;
        }
  
        .social-icons {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;
          max-width: 100%;
  
          a {
            font-size: 25px;
            transition: 0.2s ease-in;
          }
  
          a:hover {
            color: #00c3ff;
          }
        }
      }
    }
  }