.div-registro{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: $gris;
    color: #ccc;
    margin: o   auto;
    
    .email-mensaje{
        color: #ccc;
    }

}