a{
    list-style-type: none;
    color: white;
    
}


@font-face {
    font-family: dhurjati;
    src: url(../fonts/Dhurjati.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "dhurjati", sans-serif;
    list-style: none;
    
}